*{
    margin: 0;
}
.header{
    background-color: rgb(47, 47, 47);
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;

}
.header p{
    font-size: 20px;
    font-weight: 900;
    align-self: center;
}
